.pageCalcWrap {
  width: 100%;
  //height: 100vh;
  z-index: 2;
  position: relative;
  padding-bottom: 0 !important;
  @media all and (max-width: 767px) {
    padding-block: 60px;
  }
}

.pageCalcWrapContainer {
  max-width: 1224px;
  margin: 100px auto 0;
  @media all and (max-width: 767px) {
    margin-block: 60px 0;
  }
  h2 {
    font-size: clamp(28px, 5vw, 34px);
    font-weight: 600;
    margin-bottom: clamp(15px, 5vw, 15px);
  }
}
