.pageCalcWrap {
  width: 100%;
  //height: 100vh;
  z-index: 3;
  position: relative;
  padding-block: 0;
}

.pageCalcWrapContainer {
  max-width: 1224px;
  h2 {
    font-size: clamp(28px, 5vw, 34px);
    font-weight: 600;
    margin-bottom: clamp(15px, 5vw, 15px);
  }
}

.tabNav {
  margin-bottom: 40px;
  display: flex;
  gap: 15px;
  .navItem {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.18);
    transition: all 0.3s ease-in-out;
    line-height: 45px;
    padding: 0 30px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.28);
      color: white;
    }
    &.active {
      background-color: rgba(255, 255, 255, 0.28);
      color: white;
    }
  }
}

.tabItem {
  display: none;
  &.active {
    display: block;
  }
}
