.costCompareTableHead {
  > div {
    padding: 15px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 600;
  }
}

.costCompareTableRow {
  font-size: clamp(16px, 5vw, 18px);
  opacity: 0.68;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  overflow: hidden;
  > div {
    padding: 20px 15px;
    cursor: default;
    &:first-child {
      padding-left: 45px;
    }
  }
  &:hover,
  &.afterprime {
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    opacity: 1;
  }
}

.isBest {
  width: 80px;
  height: 34px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute !important;
  top: -2px;
  left: -30px;
  transform: rotate(-45deg);
}

@media all and (max-width: 767px) {
  .costCompareTableRow {
    > div {
      padding: 15px 10px;
      &:first-child {
        padding-left: 25px;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}
