.pageCalcWrap {
  width: 100%;
  //height: 100vh;
  z-index: 2;
  position: relative;
  @media all and (max-width: 767px) {
    padding-block: 60px;
  }
}

.calculatorPatch {
  display: inline-block;
  background-color: rgba(#ffffff, 0.1);
  padding: 5px 15px;
  border-radius: 25px;
  font-size: 14px;
  &:before {
    content: "";
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #03c554;
    margin-right: 10px;
  }
}

.resultCard {
  width: 100%;
  padding: 10px 15px;
  background: linear-gradient(
    298deg,
    rgba(34, 34, 50, 0.64) 0%,
    #272738 70.93%
  );
  backdrop-filter: blur(7px);
  > span {
    font-size: 14px;
    opacity: 0.68;
    display: block;
  }
  > div {
    font-size: 20px;
    font-weight: 600;
  }
}
