.mobMenuWrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(var(--alphaBlack), 0.98);
  backdrop-filter: blur(10px);
  color: rgba(var(--alphaWhite), 0.8);
  width: 100%;
  height: 100vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.closeNav {
  cursor: pointer;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  transform: rotate(45deg);
  font-size: 30px;
  display: block;
}

.mobileMenuFooter {
  margin-top: auto;
  > * {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
}

.menuItems {
  margin-top: 20px;
}

.menuCat {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  padding: 15px 20px;
  background-color: rgba(#ffffff, 0.06);
  border-radius: 8px;
  margin-bottom: 5px;

  svg {
    width: 14px;
    height: 14px;
  }
}

.subMenuWrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(var(--alphaBlack), 0.98);
  backdrop-filter: blur(10px);
  color: rgba(var(--alphaWhite), 0.8);
  width: 100%;
  height: 100vh;
  padding: 25px;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateX(100%);
  &.reveal {
    transform: translateX(0);
  }
}

.menuItemsWrapper {
  flex: 2;
  max-height: 100%;
  overflow-y: auto;
  width: 100%;
}

.backArrow {
  display: inline-flex;
  gap: 10px;
  cursor: pointer;
  background-color: #ffffff1a;
  border-radius: 48px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 34px;
  padding: 0 15px;
  svg {
    height: 10px;
    width: 10px;
  }
}

.subMenuItem {
  h4 {
    opacity: 0.68;
    margin-bottom: 10px;
  }
  ul {
    li {
      a {
        font-size: 18px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        display: block;
        padding: 5px 0;
      }
      &:hover {
        a {
          color: var(--secondary-color);
        }
      }
    }
  }
}
