.card {
  background: rgba(var(--alphaWhite), 0.08);
}

.costAdvantageSection {
  input {
    border: none;
    font-weight: 600;
    padding: 10px;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    background-color: #222;
  }
  select {
    border: none;
    font-weight: 600;
    padding: 10px;
    font-size: 18px;
    height: 50px;
    background-color: #222;
  }
}

// select {
//   background-color: #222; /* dark background */
//   color: #fff; /* white text */
//   border: 1px solid #444; /* subtle border */
//   padding: 6px 10px;
//   border-radius: 4px;
//   option {
//     background-color: #222;
//     color: #fff;
//   }
// }

// .customInput {
//   background-color: #222; /* dark background */
//   color: #fff; /* white text */
// }
