.innerBannerSection {
  height: 100vh;
  //max-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-color: transparent;
  backdrop-filter: blur(0);
  background-image: none !important;
  @media all and (min-width: 1024px) {
    height: 100vh;
    max-height: 100vh;
    text-align: left;
  }
  @media all and (min-width: 1600px) {
    height: 100vh;
    //max-height: 980px;
    text-align: left;
  }
}

.instumentLists {
  ul {
    li {
      margin-bottom: 10px;
      a {
        transition: all 0.3s ease;
        border-radius: 6px;
        background-color: rgba(255, 255, 255, 0.08);
        display: block;
        padding: 10px 15px;
        color: rgba(255, 255, 255, 0.68);
      }
      &:hover {
        a {
          text-decoration: underline;
          background-color: rgba(255, 255, 255, 0.14);
          text-align: center;
          color: white;
        }
      }
    }
  }
}

.listParent ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 5px;
}

//Page generic content from WYSWYG editor
.pageEditorContent {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: clamp(20px, 5vw, 30px);
  }
  > hr {
    display: none;
  }
  > p {
    font-size: clamp(18px, 5vw, 20px);
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.8);
    &:not(:last-child) {
      margin-bottom: clamp(20px, 5vw, 30px);
    }
  }

  ul,
  ol {
    margin-left: 16px;
    li {
      list-style: disc;
      font-size: clamp(18px, 5vw, 20px);
      line-height: 1.4;
      color: rgba(255, 255, 255, 0.8);
      &:not(:last-child) {
        margin-bottom: clamp(20px, 5vw, 30px);
      }
    }
  }
  table {
    width: 100%;
    tr th {
      background-color: rgba(var(--alphaWhite), 0.06);
      border-bottom: dashed 1px rgba(var(--alphaWhite), 0.2);
      padding: 15px 20px;
      font-size: 16px;
      text-align: left;
    }
    tr {
      td {
        background-color: rgba(var(--alphaWhite), 0.06);
        border-bottom: dashed 1px rgba(var(--alphaWhite), 0.2);
        padding: 15px 20px;
        font-size: 20px;
        transition: all 0.2s ease-in-out;
      }
      &:hover {
        td {
          background-color: rgba(var(--alphaWhite), 0.1);
        }
      }
    }
  }
}
