.bottomCta {
  background-image: url(/img/lp-cta-bg.png);
  background-size: cover;
  //border-radius: 25px;
  width: 100%;
  min-height: 400px;
  padding-block: clamp(40px, 5vw, 80px);
  padding-inline: clamp(30px, 5vw, 45px);
  overflow: hidden;
}
