.sectionBlockWithCards {
  //background-image: url("/img/platforms-bg-img-loop.jpg");
  background-position: center;
  background-repeat: repeat-x;
  background-size: 100%;
}
.contentBlockText {
  display: flex;
  flex-direction: column;
}
