.section_generic_cards_content,
.section_platforms {
  background-position: center top;
  background-repeat: repeat-x;
  .generic_card {
    h3 {
      font-size: 34px;
      font-weight: 600;
      margin-bottom: 30px;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 40px;
      opacity: 0.84;
      max-width: 90%;
      margin-inline: auto;
    }
  }
}

.section_generic_cards_content {
  background-size: 100%;
  background-position: center;
  @media all and (min-width: 1800px) {
    background-size: contain;
  }
  .generic_card {
    &:nth-child(2) {
      background-color: var(--secondary-color);
    }
  }
}
