.section_generic_cards_content,
.section_platforms {
  background-position: center top;
  background-repeat: repeat-x;
}

.section_generic_cards_content {
  background-size: 100%;
  background-position: center;
  @media all and (min-width: 1800px) {
    background-size: contain;
  }
  .generic_card {
    &:nth-child(2) {
      background-color: var(--secondary-color);
    }
  }
}

//Card Item
//Card Item
.cardItem {
  padding: 45px 32px;
  backdrop-filter: blur(19.1619px);
  background: rgba(255, 255, 255, 0.04);
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-default);

  h3 {
    margin-bottom: clamp(20px, 5vw, 25px);
    font-size: var(--heading-xs);
    font-weight: var(--weight-bold);
    line-height: var(--line-height-small);
    color: var(--primary-white-80);
  }
  p {
    margin-bottom: clamp(25px, 5vw, 30px);
    font-size: var(--reading-text-sm);
    font-weight: var(--weight-medium);
    line-height: var(--line-height-default);
    color: var(--primary-white-60);
  }
  .cardCta {
    max-width: 90%;
    margin-inline: auto;
    a {
      font-size: inherit;
      justify-content: center;
      align-items: center;
      gap: 15px;
      font-weight: 700;
      display: flex;
      color: var(--primary-white-60);
    }
    svg {
      display: inline-block;
      circle {
        fill: var(--secondary-color);
      }
      mask {
        fill: var(--secondary-color);
      }
      path {
        fill: var(--white);
      }
    }
  }

  &.cardCompact {
    padding: clamp(25px, 5vw, 38px) clamp(20px, 5vw, 30px);
  }
  &.cardLarge {
    padding: clamp(30px, 5vw, 60px) clamp(25px, 5vw, 50px);

    .cardCta {
      max-width: 100%;
    }
  }
  &.cardSmall {
    padding: clamp(30px, 5vw, 40px) clamp(25px, 5vw, 40px);

    .cardCta {
      max-width: 100%;
    }
  }
  &.cardBold {
    h3 {
      font-weight: 700;
    }
  }
  &.activeCard {
    backdrop-filter: blur(10px);
    background-color: #433bf914;
    border: 1px solid #433bf9;
    .cardCta {
      a {
        svg circle {
          fill: var(--white);
        }
        svg mask {
          fill: var(--white);
        }
        svg path {
          fill: var(--secondary-color);
        }
      }
    }
  }
  &.itemsCenter {
    text-align: center;
    p {
      text-align: center !important;
    }
  }
  &.itemsleft {
    text-align: left;
    p {
      text-align: left;
      margin-left: 0;
    }
    h3,
    .cardCta {
      margin-left: 0 !important;
    }
  }
}
