.card {
  background: rgba(var(--alphaWhite), 0.08);
}

.costAdvantageSection {
  input {
    border: none;
    font-weight: 600;
    padding: 10px;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    background: rgba(var(--alphaWhite), 0.08);
  }
  select {
    border: none;
    font-weight: 600;
    padding: 10px;
    font-size: 18px;
    height: 50px;
    background: rgba(var(--alphaWhite), 0.08);
  }
}
