.section_earning_flow {
  input {
    border: none;
    font-weight: 600;
    padding: 10px;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
  }
  select {
    border: none;
    font-weight: 600;
    padding: 10px;
    font-size: 18px;
    height: 50px;
  }
}
