.isBoxed {
  background-color: rgba(var(--alphaWhite), 0.04);
  padding-block: clamp(45px, 5vw, 80px);
  padding-inline: clamp(30px, 5vw, 80px);
}

.flowList {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 30px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }

  li {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    font-size: var(--reading-text-sm);
    font-weight: var(--weight-medium);
    line-height: var(--line-height-default);
    color: var(--primary-white);
  }
}

.section_earning_flow {
  input {
    border: none;
    font-weight: 600;
    padding: 10px;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
  }
  select {
    border: none;
    font-weight: 600;
    padding: 10px;
    font-size: 18px;
    height: 50px;
  }
}
