.sectionBlockWithCards {
  background-position: center;
  background-repeat: repeat-x;
  background-size: 100%;
  //backdrop-filter: blur(0);
  //background-color: var(--body-bg);
}
.contentBlockText {
  display: flex;
  flex-direction: column;
}

.globeBgWrapper {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;

  @media (max-width: 767px) {
    display: none;
  }
}

.globeBgVideo {
  position: absolute;
  top: 0;
  right: -18%;
  width: 70%;
  height: 100%;
  object-fit: cover;
  object-position: right center;
  opacity: 0.35;
  //mix-blend-mode: color-dodge;
  mask-image: radial-gradient(85% 100% at 75% 50%, black 50%, transparent 100%);
  -webkit-mask-image: radial-gradient(
    85% 100% at 75% 50%,
    black 50%,
    transparent 100%
  );
  z-index: 1;
  @media all and (min-width: 1600px) {
    right: -2%;
    width: 60%;
  }
}
