//
.section_usp {
  background-color: rgba(var(--alphaWhite), 0.08);
  padding-block: 80px;
  backdrop-filter: blur(15px);
  position: relative;
  z-index: 2;
}

.usp_items_wrapper {
  display: flex;
  gap: 8rem;
  > div {
    h3 {
      font-size: 50px;
      margin-bottom: 10px;
      font-weight: 600;
      color: #95ff00;
    }
    p {
      font-size: 24px;
      line-height: 1.2;
    }
    &:last-child {
      max-width: 420px;
      margin-left: auto;
    }
  }
  @media all and (max-width: 767px) {
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    text-align: center;
  }
}

.uspDropdown {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: var(--secondary-color);
  svg {
    transform: rotate(90deg);
    width: 30px;
    height: 30px;
  }
}
//
