.editorStyles{
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p{
margin-bottom: 20px;
font-weight: 600;
    }
    h1{font-size: 34px;margin-bottom: 40px;}
    h2{font-size: 30px; }
    h3{font-size: 28px;}
    h4{font-size: 24px;}
    h5{font-size: 20px;}
    h6{font-size: 18px;}
    p{
        font-size: 20px;
        opacity: 0.8;
        font-weight: 400;
        margin-bottom: 30px;
    }
    a{
        text-decoration: underline;
        &:hover{
            color: var(--secondary-color);
            
        }
    }

    ul{
        margin-left: 16px;
        li{
            list-style: disc;
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: 600;
            ul{
                margin-top: 20px;
            }
        }
    }
}

.rightSticky img{
    position: sticky;
    top:120px;
    margin-left: auto;
    width: 100%;
    height: 600px;
    object-fit: cover;
    @media all and (max-width:767px){
        max-height: 500px;
    }
}