.bottomCta {
  background: var(--card-bg-grdnt-top-fade);
  background-size: cover;
  backdrop-filter: blur(20px);
  width: 100%;
  min-height: 400px;
  padding-block: clamp(40px, 5vw, 80px);
  padding-inline: clamp(30px, 5vw, 45px);
  overflow: hidden;
  border-radius: var(--radius-xlg);
  //border: solid 1px var(--primary-white-4);
  h2 {
    max-width: 600px;
    margin-inline: auto;
  }
  .paragraph {
    color: var(--primary-white-80);
  }
}
