.ap_nav {
  > ul {
    > li {
      font-size: 20px;
      font-weight: 600;
      padding: 15px 0;
      > .ap_subnav {
        background-color: var(--white);
        border-radius: 8px;
        color: var(--black);

        li {
          flex: 0 0 33.33%;
          min-width: 200px;
          > a {
            font-size: 14px;
            display: block;
            opacity: 0.68;
          }
          ul {
            li {
              a {
                font-size: 18px;
                opacity: 1;
                padding: 3px 0;
                transition: all 0.3s ease-in-out;
                @media all and (max-width: 1023px) {
                  padding: 5px 0;
                }
              }
              &:hover {
                a {
                  opacity: 1;
                  color: var(--secondary-color);
                }
              }
            }
          }
        }
      }
      &:last-child {
        .ap_subnav {
          padding-block: 15px;
          li {
            padding-block: 4px;
            > a {
              font-size: 18px;
              display: block;
              opacity: 1;
              white-space: nowrap;
              transition: all 0.3s ease-in-out;
            }
            &:hover {
              a {
                opacity: 1;
                color: var(--secondary-color) !important;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1023px) {
  .ap_nav_wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--body-bg);
    .ap_nav {
      > ul {
        flex-wrap: wrap;
        > li {
          padding: 0 15px 15px;
          margin: 0;
          .ap_subnav {
            background-color: transparent;
            color: var(--white);
          }
          &:nth-child(3) {
            order: 4;
          }
          &:nth-child(4) {
            order: 3;
          }
        }
      }
    }
    .ap_btn_group {
      padding: 15px;
      > div {
        flex: 1;
        display: block;
        text-align: center;
        a {
          justify-content: center;
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  .ap_nav_wrapper {
    .ap_nav {
      > ul {
        flex-wrap: wrap;
      }
    }
  }
}
