.HeroUps{
    text-align: center;
    width: 100%;
    background-color: rgba(255,255,255, 0.06);
    backdrop-filter: blur(30px);
    transition: all .5s ease-in-out;
    
}
.upsItem{
    display: flex;
    gap:20px;
    max-width: 300px;
    @media all and ( max-width:767px){
            display: block;
        }
    .value{
        font-size: 55px;
        font-weight: 300;
        line-height: 0.9;
        color: #95FF00;
    }
    .descp{
        font-size: 18px;
        text-align: left;
        opacity: 0.8;
        line-height: 1.4;
        @media all and ( max-width:767px){
            text-align: center;
        }
    }
}