.heroUspContainer {
  background-color: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(18px);
  width: 100%;
  left: 0;
}

.HeroUps {
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.upsItem {
  display: flex;
  gap: 20px;
  max-width: 400px;
  @media all and (max-width: 767px) {
    display: block;
  }
  .value {
    font-size: var(--heading-lg);
    font-weight: 300;
    line-height: 0.9;
    color: #95ff00;
  }
  .descp {
    font-size: var(--reading-text-sm);
    text-align: left;
    color: var(--primary-white-60);
    line-height: 1.4;
    @media all and (max-width: 767px) {
      text-align: center;
      margin-top: 10px;
    }

    :global(html[dir="rtl"]) & {
      text-align: right;
      direction: rtl;
      @media all and (max-width: 767px) {
        text-align: center;
      }
    }
  }
}

.note {
  transition: all 0.3s ease;
  color: var(--primary-white-40);
}
