.CardWrapper {
  background-color: rgba(255, 255, 255, .05);
  backdrop-filter: blur(24px);
  position: relative;
  box-shadow: rgba(0, 0, 0, 1) 0 0 10px;
}

.CardWrapper:before {
  content: "";
  position: absolute;
  left: 15px;
  bottom: -15px;
  background-color: rgba(255, 255, 255, .04);
  backdrop-filter: blur(24px);
  height: 15px;
  width: calc(100% - 30px);
  box-shadow: rgba(0, 0, 0, 1) 0 0 10px;
}

.CardWrapper:after {
  content: "";
  position: absolute;
  left: 35px;
  bottom: -25px;
  background-color: rgba(255, 255, 255, .04);
  backdrop-filter: blur(24px);
  height: 10px;
  width: calc(100% - 70px);
  box-shadow: rgba(0, 0, 0, 1) 0 0 10px;
}

.classSet {
  font-size: 15px;
  font-weight: 600;
  opacity: 0.68;
}

.classSet span {
  display: inline-block;
  margin-right: 20px;
}

.classSet span:before {
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .50);
  display: inline-block;
  margin-right: 10px;
}

.CardHead {
  padding: clamp(25px, 5vw, 30px);
  border-bottom: solid 1px rgba(255, 255, 255, .1);
}

.CardBody {
  padding: clamp(25px, 5vw, 30px);
}