@use "tailwindcss";

:root {
  --black: #0c0c0d;
  --white: rgb(253, 253, 247);
  --alphaWhite: 253, 253, 247;
  --alphaBlack: 12, 12, 13;
  --body-bg: #0c0c0d;
  --off-white: #fdfcf7;
  --primary-color: #ff4520;
  --secondary-color: #433bf9;
  --terciary-color: #d1ff51;
  --accent-color: #ffba08;
}

body {
  background-color: var(--body-bg);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
.grainy_bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  &:after {
    top: 0;
    left: 0;
    content: "";
    background-image: url("/img/grain-noise.png");
    height: 300vh;
    width: 300vw;
    position: absolute;
    opacity: 0.48;
    animation: animateGrain 4s steps(10) infinite;
  }
}

.home_banner_video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--body-bg);
  video {
    object-fit: cover;
    mix-blend-mode: color-dodge;
    pointer-events: none;
    opacity: 0.48;
  }
}

// Glitch Effect
/* Glitch with Noise */
.glitch-noise {
  position: relative;
  font-size: 80px;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
}

.glitch-noise:before {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  color: white;
  background-color: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch-noise:after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
  color: white;
  background-color: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-after 2s infinite linear alternate-reverse;
  mix-blend-mode: exclusion;
}

@keyframes noise-before {
  0% {
    clip: rect(61px, 9999px, 52px, 0);
  }

  5% {
    clip: rect(33px, 9999px, 144px, 0);
  }

  10% {
    clip: rect(121px, 9999px, 115px, 0);
  }

  15% {
    clip: rect(144px, 9999px, 162px, 0);
  }

  20% {
    clip: rect(62px, 9999px, 180px, 0);
  }

  25% {
    clip: rect(34px, 9999px, 42px, 0);
  }

  30% {
    clip: rect(147px, 9999px, 179px, 0);
  }

  35% {
    clip: rect(99px, 9999px, 63px, 0);
  }

  40% {
    clip: rect(188px, 9999px, 122px, 0);
  }

  45% {
    clip: rect(154px, 9999px, 14px, 0);
  }

  50% {
    clip: rect(63px, 9999px, 37px, 0);
  }

  55% {
    clip: rect(161px, 9999px, 147px, 0);
  }

  60% {
    clip: rect(109px, 9999px, 175px, 0);
  }

  65% {
    clip: rect(157px, 9999px, 88px, 0);
  }

  70% {
    clip: rect(173px, 9999px, 131px, 0);
  }

  75% {
    clip: rect(62px, 9999px, 70px, 0);
  }

  80% {
    clip: rect(24px, 9999px, 153px, 0);
  }

  85% {
    clip: rect(138px, 9999px, 40px, 0);
  }

  90% {
    clip: rect(79px, 9999px, 136px, 0);
  }

  95% {
    clip: rect(25px, 9999px, 34px, 0);
  }

  100% {
    clip: rect(173px, 9999px, 166px, 0);
  }
}

@keyframes noise-after {
  0% {
    clip: rect(26px, 9999px, 33px, 0);
  }

  5% {
    clip: rect(140px, 9999px, 198px, 0);
  }

  10% {
    clip: rect(184px, 9999px, 89px, 0);
  }

  15% {
    clip: rect(121px, 9999px, 6px, 0);
  }

  20% {
    clip: rect(181px, 9999px, 99px, 0);
  }

  25% {
    clip: rect(154px, 9999px, 133px, 0);
  }

  30% {
    clip: rect(134px, 9999px, 169px, 0);
  }

  35% {
    clip: rect(26px, 9999px, 187px, 0);
  }

  40% {
    clip: rect(147px, 9999px, 137px, 0);
  }

  45% {
    clip: rect(31px, 9999px, 52px, 0);
  }

  50% {
    clip: rect(191px, 9999px, 109px, 0);
  }

  55% {
    clip: rect(74px, 9999px, 54px, 0);
  }

  60% {
    clip: rect(145px, 9999px, 75px, 0);
  }

  65% {
    clip: rect(153px, 9999px, 198px, 0);
  }

  70% {
    clip: rect(99px, 9999px, 136px, 0);
  }

  75% {
    clip: rect(118px, 9999px, 192px, 0);
  }

  80% {
    clip: rect(1px, 9999px, 83px, 0);
  }

  85% {
    clip: rect(145px, 9999px, 98px, 0);
  }

  90% {
    clip: rect(121px, 9999px, 154px, 0);
  }

  95% {
    clip: rect(156px, 9999px, 44px, 0);
  }

  100% {
    clip: rect(67px, 9999px, 122px, 0);
  }
}

/* Glitch with Transformation */

.glitch-trans {
  position: relative;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  animation: shift 4s ease-in-out infinite alternate;
  transform: skewX(0deg);
  z-index: 1;
}

@keyframes shift {
  0%,
  40%,
  44%,
  58%,
  61%,
  65%,
  69%,
  73%,
  100% {
    transform: skewX(0deg);
  }

  41% {
    transform: skewX(10deg);
  }

  42% {
    transform: skewX(-10deg);
  }

  59% {
    transform: skewX(40deg) skewY(10deg);
  }

  60% {
    transform: skewX(-40deg) skewY(-10deg);
  }

  63% {
    transform: skewX(10deg) skewY(-5deg);
  }

  70% {
    transform: skewX(-50deg) skewY(-20deg);
  }

  71% {
    transform: skewX(10deg) skewY(-10deg);
  }
}
// Glitch Effect ends

.ap_container {
  @apply max-w-[1324px] mx-auto;
  &_medium {
    @apply max-w-[1240px];
  }
}

.h1-size {
  font-size: clamp(42px, 5vw, 68px);
  font-weight: 400;
  line-height: 1;
  @apply mb-12 max-md:mb-8;
}
.h2-size {
  font-size: clamp(38px, 5vw, 50px);
  font-weight: 300;
  line-height: 1.2;
  @apply mb-6 max-md:mb-4;
  > span {
    //color: var(--secondary-color);
    font-weight: 600;
  }
}
.paragraph {
  font-size: clamp(20px, 5vw, 26px);
  font-weight: 300;
  line-height: 1.5;
  color: #e1e1e1;
}

.wysWygEditor {
  p {
    color: #e1e1e1;
    margin-bottom: max(40px, min(5vw, 50px));
    font-size: max(20px, min(5vw, 26px));
    font-weight: 300;
    line-height: 1.5;
    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    list-style: disc;
    margin-left: 22px;
    margin-bottom: max(40px, min(5vw, 50px));
    li {
      margin-bottom: 20px;
      font-size: max(20px, min(5vw, 26px));
      font-weight: 300;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.apBannerContent {
  h1 {
    @extend .h1-size;
  }
  p {
    font-size: max(24px, min(5vw, 32px));
  }
  @media all and (max-width: 1023px) {
    margin-left: auto;
    margin-right: auto;
    flex: 1;
    p {
      max-width: 100%;
    }
  }
}

section {
  padding: 120px 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(8px);
  z-index: 2;

  h2 {
    margin-bottom: max(25px, min(5vw, 50px));
    font-size: max(38px, min(5vw, 50px));
  }

  > * :not(.grainy_bg) {
    position: relative;
    z-index: 1;
  }

  @media all and (max-width: 1279px) {
    padding-inline: 40px;
    padding-block: 70px;
  }

  @media all and (max-width: 767px) {
    padding: 70px 40px;
  }

  @media all and (max-width: 500px) {
    padding: 70px 20px;
  }
}

.color-primary {
  color: var(--primary-color);
}
.color-secondary {
  color: var(--secondary-color);
}

.ap_cards_wrapper {
  > .card_item {
    padding: 60px 50px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(19.16185188293457px);
    h3 {
      font-size: clamp(40px, 5vw, 60px);
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 10px;
    }
    h5 {
      font-size: clamp(18px, 3vw, 22px);
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: 30px;
    }
    p {
      font-size: clamp(16px, 3vw, 18px);
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: 10px;
    }
    .card_href_link {
      color: inherit;
      font-size: inherit;
      font-weight: 700;
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: center;
      &:hover {
        color: var(--white);
      }
    }
  }
}

.note_box {
  background-color: rgba(255, 255, 255, 0.08);
  font-size: 14px;
}

.dotted-block {
  mask-image: url("/img/dotted-block-themed.svg");
  mask-repeat: repeat;
  mask-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 284px;
  width: 140px;
}

.dotted_bg_in_container {
  background-color: rgba(var(--alphaWhite), 0.06);
  width: 140px;
  height: 174px;
  position: absolute !important;
  top: -120px;
  left: -100px;
}

// BG Grain EFFECT CSS ##########

@keyframes animateGrain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, -20%);
  }
  30% {
    transform: translate(-5%, -10%);
  }
  40% {
    transform: translate(-15%, -20%);
  }

  50% {
    transform: translate(-5%, -10%);
  }
  60% {
    transform: translate(-15%, -20%);
  }
  70% {
    transform: translate(-5%, -10%);
  }
  80% {
    transform: translate(-15%, -20%);
  }
  90% {
    transform: translate(-5%, -10%);
  }
  100% {
    transform: translate(-15%, -20%);
  }
}

//
.ulli {
  list-style: disc;
  margin-left: 22px;
  margin-bottom: max(40px, min(5vw, 50px));
  li {
    margin-bottom: 20px;
    font-size: max(20px, min(5vw, 26px));
    font-weight: 300;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

//Generic Table
.genericTable {
  table {
    width: 100%;
    text-align: left;
    tr {
      th {
        background-color: rgba(var(--alphaWhite), 0.06);
        border-bottom: dashed 1px rgba(var(--alphaWhite), 0.2);
        padding: 15px 20px;
        font-size: 16px;
        &:last-child {
          text-align: right;
        }
      }
      td {
        background-color: rgba(var(--alphaWhite), 0.06);
        border-bottom: dashed 1px rgba(var(--alphaWhite), 0.2);
        padding: 15px 20px;
        font-size: 20px;
        transition: all 0.2s ease-in-out;
        &:last-child {
          text-align: right;
        }
      }
      &:hover {
        td {
          background-color: rgba(var(--alphaWhite), 0.09);
        }
      }
    }
  }
}

.contentTextBlockWrapper {
  h2 {
    margin-bottom: clamp(25px, 5vw, 50px);
  }
  p {
    margin-bottom: clamp(25px, 5vw, 50px);
    &:last-child {
      margin-bottom: 0;
    }
  }
  .btnWraper {
    margin-top: clamp(25px, 5vw, 50px);
  }
}

.ap_button {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  background-color: var(--off-white);
  color: var(--body-bg);
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  border: 2px solid transparent;
  justify-content: center;
  border-radius: 48px;

  svg {
    width: 15px;
    height: 15px;
    transition: all 0.2s ease;
    margin-top: 1px;
    path {
      fill: var(--black);
    }
  }

  //varient
  &.primary {
    background-color: var(--primary-color);
    color: var(--white);
    svg {
      path {
        fill: var(--white);
      }
    }
    &:hover {
      background-color: var(--white);
      color: var(--black);
      svg {
        path {
          fill: var(--black);
        }
      }
    }
  }
  &.secondary {
    background-color: var(--secondary-color);
    color: var(--white);
    svg {
      path {
        fill: var(--white);
      }
    }
    &:hover {
      background-color: var(--white);
      color: var(--black);
      svg {
        path {
          fill: var(--black);
        }
      }
    }
  }
  &.washed {
    background-color: rgba(var(--alphaWhite), 0.08);
    color: var(--white);
    svg {
      path {
        fill: var(--white);
      }
    }
    &:hover {
      background-color: var(--white);
      color: var(--black);
      svg {
        path {
          fill: var(--black);
        }
      }
    }
  }
  &.ghost {
    background-color: transparent;
    border-color: var(--white);
    color: var(--white);
    svg {
      path {
        fill: var(--white);
      }
    }
    &:hover {
      background-color: var(--white);
      color: var(--black);
    }
  }
  &.primaryGhost {
    background-color: transparent;
    border-color: var(--primary-color);
    color: var(--primary-color);
    svg {
      path {
        fill: var(--primary-color);
      }
    }
    &:hover {
      background-color: var(--primary-color);
      color: var(--white);
      svg {
        path {
          fill: var(--white);
        }
      }
    }
  }
  &.secondaryGhost {
    background-color: transparent;
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    svg {
      path {
        fill: var(--secondary-color);
      }
    }
    &:hover {
      background-color: var(--secondary-color);
      color: var(--white);
      svg {
        path {
          fill: var(--white);
        }
      }
    }
  }

  //Sizes
  &.large {
    padding-inline: 60px;
    line-height: 54px;
    font-size: 20px;
    gap: 20px;
    font-weight: 700;
    @media all and (max-width: 767px) {
      padding-inline: 40px;
      width: 100%;
    }
  }
  &.regular {
    padding-inline: 40px;
    line-height: 48px;
    font-size: 18px;
    gap: 15px;
    font-weight: 700;
    svg {
      width: 12px;
      height: 12px;
    }
    @media all and (max-width: 767px) {
      width: 100%;
    }
  }
  &.small {
    padding-inline: 25px;
    line-height: 40px;
    font-weight: 700;
    gap: 10px;
    svg {
      width: 10px;
      height: 10px;
    }
  }
  &.xSmall {
    padding-inline: 15px;
    line-height: 30px;
    font-weight: 600;
    font-size: 14px;
    gap: 10px;
    svg {
      width: 8px;
      height: 8px;
    }
  }
  &:hover {
    background-color: rgba(var(--alphaWhite), 0.08);
    color: var(--white);
    svg {
      transform: translateX(6px);
      path {
        fill: var(--white);
      }
    }
  }
}

.stretched {
  > div {
    height: 100%;
    > div {
      height: 100%;
      display: flex;
      flex-direction: column;
      .btn-group {
        margin-top: auto;
      }
    }
  }
}

.mt4PageHeader {
  background-color: var(--body-bg);
  color: #e1e1e1;
  height: 60px;
  padding: 15px;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.table_wrapper {
  overflow-x: auto;
}

// Review badge custom styles
.hero-usp-badge {
  @media all and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }
  .hHcZSh {
    color: white !important;
    text-decoration: underline;
    opacity: 0.68;
  }
  .eapps-google-reviews-8396dec5-bde7-4ee9-b280-ec33390374f6-custom-css-root
    .hHcZSh {
    left: 111px;
  }
}
