.hero_home {
  background-color: var(--black);
  background-image: url("/img/hero-banner-home.jpg");
  background-size: cover;
  min-height: 600px;
  padding: 50px 20px 0;
  background-position: 10% center;
  @media all and (max-width: 767px) {
    padding-top: 120px;
    max-height: none;
    height: 100%;
    background-position: 55% center;
  }
}
