.costBreakDownTable {
  table {
    width: 100%;
    text-align: left;
    thead {
      tr th {
        background-color: rgba(255, 255, 255, 0.15);
        padding: 8px 20px;
        font-size: 14px;
        &:last-child {
          text-align: right;
        }
      }
    }
    tbody {
      tr {
        td {
          border-bottom: solid 1px rgba(255, 255, 255, 0.15);
          padding: 15px 20px;
          color: rgba(255, 255, 255, 0.8);
          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }
  @media all and (max-width: 767px) {
    overflow-x: auto;
    table tr th,
    table th td {
      white-space: nowrap;
    }
  }
}
