.pageCalcWrap {
  width: 100%;
  //height: 100vh;
  z-index: 2;
  position: relative;
  @media all and (max-width: 767px) {
    padding-block: 60px;
  }
}

.calculatorPatch {
  display: inline-block;
  background-color: rgba(#ffffff, 0.1);
  padding: 5px 15px;
  border-radius: 25px;
  font-size: 14px;
  &:before {
    content: "";
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #03c554;
    margin-right: 10px;
  }
}

.resultCard {
  width: 100%;
  padding: 10px 15px;
  background-color: #10170c;
  border: solid 1px #517b42;
  > span {
    font-size: 14px;
    opacity: 0.68;
    display: block;
  }
  > div {
    font-size: 20px;
    font-weight: 600;
  }
  &.isLoss {
    background-color: #281414;
    border: solid 1px #7b4242;
  }
}
