.customSelect {
  background-color: var(--primary-white-8); /* dark background */
  color: #fff; /* white text */
  border: 1px solid #444; /* subtle border */
  padding: 6px 10px;
  border-radius: 2px !important;
  option {
    background-color: #222;
    color: #fff;
  }
}

.customInput {
  background-color: var(--primary-white-8); /* dark background */
  color: #fff; /* white text */
  border-radius: 2px;
}

.resultCard {
  background-color: var(--primary-white-8);
  border-radius: 2px;
  padding: 16px 12px;
}
