.innerBannerSection {
  height: 100%;
  max-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-color: transparent;
  backdrop-filter: blur(0);
  background-image: none !important;
  @media all and (min-width: 1024px) {
    height: 100vh;
    max-height: 100vh;
    text-align: left;
  }
  @media all and (min-width: 1600px) {
    height: 100vh;
    max-height: 980px;
    text-align: left;
  }
}
