.toggleWrapper {
  width: 100%;
  border: solid 1px rgba(255, 255, 255, 0.18);
  border-radius: 40px;
  padding: 4px;
  display: flex;
  gap: 4px;
  > span {
    flex: 1;
    display: block;
    text-align: center;
    //background-color: rgba(255, 255, 255, 0.08);
    border-radius: 38px;
    line-height: 38px;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    &.active {
      background-color: rgba(255, 255, 255, 0.2);
      color: white;
    }
  }
}
