.visible {
  display: block;
}
.hidden {
  display: none;
}

.accordion_item {
  h3 {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    span {
      display: block;
      margin-left: auto;
      font-weight: 300;
      font-size: 38px;
      height: 30px;
      width: 30px;
      text-align: center;
      line-height: 32px;
      transition: all 0.3s ease-in-out;
    }
    &.active {
      > span {
        transform: rotate(45deg);
      }
    }
  }
}

.accordion_content_wrapper {
  ul {
    margin-left: 16px;
    margin-top: 20px;
    li {
      list-style: disc;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
