.sectionIntroBlockGeneric {
  position: relative;
  z-index: 2;
  padding-top: 0 !important;
  padding-bottom: clamp(40px, 10vw, 60px) !important;
  background-color: transparent;
}

.sectionIntroContents {
  position: relative;
  display: flex;
  gap: 8rem;
  align-items: center;
  background-color: rgba(var(--alphaWhite), 0.03);
  padding: 50px;
  backdrop-filter: blur(15px) !important;
  border-radius: var(--radius-xlg);
  > div {
    flex: 1;
    h3 {
      font-size: clamp(34px, 5vw, 38px);
      line-height: 1.15;
      margin-bottom: 10px;
      font-weight: 500;
      color: var(--white);
    }
    p {
      font-size: clamp(20px, 5vw, 24px);
      line-height: 1.6;
      font-weight: 500;
      color: var(--primary-white-80);
    }
  }
  @media all and (max-width: 767px) {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    text-align: center;
  }
}
