.innerPageUsp {
  .uspWrapper {
    border-top: solid 4px var(--secondary-color);
    padding-top: clamp(25px, 5vw, 40px);
    gap: 12rem;
    display: flex;
    justify-content: center;
    text-align: center;
    > div {
      max-width: 250px;
    }
    @media all and (max-width: 767px) {
      flex-direction: column;
      gap: 40px;
      align-items: center;
    }
  }
}

.uspcard {
  h2 {
    font-weight: 600;
  }
  p {
    opacity: 1;
  }
}
