.footLogoRow {
  border-bottom: solid 1px var(--border-white);
  padding-bottom: 30px;
}

.footer_links {
  h2 {
    color: var(--primary-white-60);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;

    @media all and (min-width: 768px) {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  ul {
    li {
      margin-bottom: 12px;
      font-size: 14px;

      @media all and (min-width: 768px) {
        margin-bottom: 15px;
        font-size: 16px;
      }

      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: var(--primary-white-40);
        transition: color 0.2s ease;
      }
      &:hover {
        a {
          color: var(--white);
        }
      }
    }
  }
}

.footer_texts {
  padding: clamp(16px, 4vw, 30px);
  border-radius: var(--radius-xlg);
  background-color: var(--primary-white-4);
  h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
    color: var(--primary-white-60);

    @media all and (min-width: 768px) {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }
  p {
    margin-bottom: 16px;
    font-size: 13px;
    color: var(--primary-white-40);

    @media all and (min-width: 768px) {
      margin-bottom: 20px;
      font-size: 14px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.copyrightText {
  font-size: 12px;
  color: var(--primary-white-30);
  text-align: center;

  @media all and (min-width: 768px) {
    font-size: 14px;
  }
}

.footer_section {
  background-color: var(--card-dark);
}
