.sectionWithCards {
  background-position: center top;
  background-repeat: repeat-x;
  h2 {
    font-size: max(38px, min(5vw, 50px));
    font-weight: 300;
    line-height: 1.2;
    @media all and (max-width: 767px) {
      text-align: center !important;
    }
  }
}
