.section_generic_cards_content {
  .generic_card {
    h3 {
      font-size: 34px;
      font-weight: 600;
      margin-bottom: 30px;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 40px;
      opacity: 0.84;
      max-width: 90%;
      margin-inline: auto;
    }
  }
}
