.itemLevelParent {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  padding: 28px 0 30px;
}
.megaMenuWrapper {
  padding: 40px 0;
  background-color: rgba(var(--alphaBlack), 0.98);
  backdrop-filter: blur(10px);
  color: rgba(var(--alphaWhite), 0.8);
  @media all and (min-width: 124px) {
    border-top: solid 1px rgba(255, 255, 255, 0.08);
  }
  position: absolute;
  left: 0;
  top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.megaMenuItemsContainer {
  margin: 0 auto;
  min-width: 650px;
}

.catWrapper > div {
}

.menuCat_item {
  margin-left: 35px;
  padding-right: 30px;
  @media all and (min-width: 1204px) {
    margin-left: 60px;
  }

  h2 {
    margin-bottom: 20px;
    opacity: 0.68;
  }
  ul {
    li {
      margin-bottom: 18px;
      white-space: nowrap;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        font-weight: 600;
        display: block;
        font-size: 16px;
        transition: all 0.3s ease;
      }
      &:hover {
        a {
          color: var(--secondary-color);
        }
      }
    }
  }
}
