.costCompareTableHead {
  > div {
    padding: 15px;
    font-size: var(--font-size-note);
    color: rgba(255, 255, 255, 0.6);
    font-weight: 600;
  }
}

.costCompareTableRow {
  font-size: var(--reading-text-xs);
  opacity: 1;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.05);
  > div {
    padding: 20px 15px;
    cursor: default;
    position: relative;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
  }
  &.afterprime {
    border: solid 1px rgb(67, 59, 249);
    background-color: rgba(67, 59, 249, 0.08);
    backdrop-filter: blur(10px);
    opacity: 1;
  }
  @media all and (max-width: 767px) {
    padding: 10px 15px;
    > div {
      padding: 0;
      &:before {
        content: attr(data-label);
        display: block;
        font-size: var(--font-size-tiny);
        opacity: 0.68;
      }
    }
  }
}

.isBest {
  width: 80px;
  height: 34px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute !important;
  top: -2px;
  left: -30px;
  transform: rotate(-45deg);
}
